In [10]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
engine = sqlalchemy.create_engine('postgres://postgres:postgres@localhost:5432/sql-challenge')
connection = engine.connect()

In [ ]:
#Create a histogram to visualize the most common salary ranges for employees.

#Create a bar chart of average salary by title.

In [13]:
query_one = 'SELECT employees.emp_no, employees.first_name, employees.last_name, employees.gender, salaries.salary FROM salaries INNER JOIN employees on employees.emp_no=salaries.emp_no;'

In [ ]:
query_one_df = pd.read_sql_query(query

In [16]:
query_one_df = pd.read_sql_query(query_one, engine)
query_one_df.head()

        emp_no first_name    last_name gender salary
0        10003      Parto      Bamford      M  40006
1        10035      Alain    Chappelet      M  41538
2        10038       Huan        Lortz      M  40000
3        10042       Magy    Stamatiou      F  81662
4        10044    Mingsen       Casley      F  40919
...        ...        ...          ...    ...    ...
300019  499963      Danny       Lenart      F  49383
300020  499985       Gila  Lukaszewicz      M  40000
300021  499991      Pohua      Sichman      F  43612
300022  499997    Berhard       Lenart      M  49597
300023  499998   Patricia      Breugel      M  40000

[300024 rows x 5 columns]

In [19]:
query = 'SELECT emp_no FROM employees WHERE emp_no = 499942'

In [20]:
df = pd.read_sql_query(query, engine)
df

ProgrammingError: (psycopg2.errors.UndefinedFunction) operator does not exist: character varying = integer
LINE 1: SELECT emp_no FROM employees WHERE emp_no = 499942
                                                  ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT emp_no FROM employees WHERE emp_no = 499942]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
query_two = ''

In [ ]:
query = "SELECT * FROM Iris"  # String containing the SQL query to select all rows
df = pd.read_sql_query(query, engine)  # Finally, importing the data into DataFrame df
df.info()

In [ ]:
* Create an image file of your ERD.

* Create a `.sql` file of your table schemata.

* (Optional) Create a Jupyter Notebook of the bonus analysis.

* Create and upload a repository with the above files to GitHub and post a link on BootCamp Spot.